/* footer styling */
#footer{
    background: #005A25;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
    font-weight: lighter;
}
#footer .footer-top{
        background: hsl(227, 43%, 21%);
        padding: 60px 0 30px 0
}
#footer .footer-top .footer-info{
        margin-bottom: 30px
}
 #footer .footer-top .footer-info h3{
        font-size: 18px;
        font-weight: lighter;
        margin: 0 0 20px 0;
        padding: 2px 0 2px 0;
        line-height: 1;
        font-weight: 700
}
#footer .footer-top .footer-info p{
        font-size: 14px;
        font-weight: lighter;
        line-height: 24px;
        margin-bottom: 0;
        font-family: "Raleway", sans-serif;
        color: #fff
}
#footer .footer-top .social-links a{
        font-size: 18px;
        font-weight: lighter;
        display: inline-block;
        background: #545454;
        color: #fff;
        line-height: 1;
        padding: 8px 0;
        margin-right: 4px;
        border-radius: 50%;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.3s
    }
    #footer .footer-top .social-links a:hover{
        background: #168546;
        color: #fff;
        font-weight: lighter;
        text-decoration: none
    }
    #footer .footer-top h4{
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 12px
    }
    #footer .footer-top .footer-links{
        margin-bottom: 30px
    }
    #footer .footer-top .footer-links ul{
        list-style: none;padding: 0;margin: 0
    }
    #footer .footer-top .footer-links ul i{
        padding-right: 2px;
        color: #005A25;
        font-size: 18px;
        line-height: 1
    }
    #footer .footer-top .footer-links ul li{
        padding: 10px 0;
        display: flex;
        align-items: center
    }
    #footer .footer-top .footer-links ul li:first-child{
        padding-top: 0;
    }
    #footer .footer-top .footer-links ul a{
        color: #fff;
        transition: 0.3s;
        display: inline-block;
        line-height: 1;
    }
    #footer .footer-top .footer-links ul a:hover{
        color: #005A25;
    }
    #footer .footer-top .footer-contact{
        margin-bottom: 30px;
    }
    #footer .footer-top .footer-contact p{
        line-height: 26px;
    }
    #footer .copyright{
        text-align: center;
        padding-top: 30px;
    }
    #footer .credits{
        padding-top: 10px;
        text-align: center;
        font-size: 13px;
        color: #fff
    }

    /* Profile Styling */
    .profile-head h5{
        color: #333;
    }
    .profile-head h6{
        color:#005A25;
    }
    .profile-edit-btn{
        border: none;
        border-radius: 1.5rem;
        width: 70%;
        padding: 2%;
        font-weight: 600;
        color: #6c757d;
        cursor: pointer;
    }

    /* styling profile */
    

    .card{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 25px;
        background-color: #ffffff;
        box-sizing: border-box;
        border:1px solid #d2d2d3;
        border-radius: 5px;
        box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
    }
    .card:first-child{
        border-left: 7px solid #246dec;
    }
    .card:nth-child(2){
        border-left: 7px solid #f5b74f;
    }
    .card:nth-child(3){
        border-left: 7px solid #367952;
    
    }
    .card:nth-child(4){
        border-left: 7px solid #cc3c43;
    }
    .card >span{
        font-size: 20px;
        font-weight:600;
    }
    .card-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .card-inner >p{
        font-size: 18px;
    }
    .card-inner{
        font-size: 35px;
    }   
    